.buttons-center {
	text-align:center;
} 

.skf-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product {
    height: 340px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #CCC;
}

.product .image-container {
    height: 240px;
    background-size: cover;
    cursor: pointer;
}

.product .product-name{
    height: 30px;
    font-size: 18px;
}

.product .product-price {
    height: 30px;
    font-size: 20px;
    color: darkslateblue;
}

.product .product-action {
    height: 40px;
}

.product .product-ranking {
    float: left;
    font-size: 20px;
    padding: 5px 15px;
    background: gold;
    margin-left: -15px;
}